<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.nitugeorge.catchcheese"
    versionCode = "10"
    version     = "1.0.2" >

<!-- versionCode is optional and Android only -->

  <name>PhoneGap Example</name>

  <description>
      Catch the cheese! - Just do it!
  </description>

  <author email="george.nitu07@gmail.com">
      Nitu George
  </author>

</widget>